
nav a.active {
    background-color: #eef6ff;
    color: #004a9f !important;
    border-radius: 6px;
    padding: 6px 12px;
}

.masthead a.active {
    background-color: #eef6ff;
    color: #004a9f !important;
    border-radius: 6px;
    padding: 6px 12px;
}

.research-page .page__content {
    margin-top: 10px !important;
    padding-top: 0 !important;
}
