
.masthead__menu-item--active > a {
    background-color: #eef6ff;
    color: #004a9f !important;
    border-radius: 6px;
    padding: 4px 8px;
}

.masthead__menu-item a.active {
    background-color: #eef6ff;
    color: #004a9f !important;
    border-radius: 6px;
    padding: 4px 8px;
}
