---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        const translateButton = document.getElementById("translateButton");
        const contentNode = document.getElementById("content");

        if (!translateButton || !contentNode) {
            return;
        }

        translateButton.addEventListener("click", async function() {
            let content = contentNode.innerText;
            let url = `https://translate.googleapis.com/translate_a/single?client=gtx&sl=zh-CN&tl=en&dt=t&q=${encodeURIComponent(content)}`;
            
            let response = await fetch(url);
            let data = await response.json();
            contentNode.innerText = data[0].map(item => item[0]).join("");
        });
    });
    </script>
    {% include scripts.html %}

  </body>
</html>
