---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    {% if page.maplibre %}
    <link rel="stylesheet" href="https://unpkg.com/maplibre-gl@5.6.0/dist/maplibre-gl.css">
    <script src="https://unpkg.com/maplibre-gl@5.6.0/dist/maplibre-gl.js"></script>
    {% endif %}
    <style>
      html, body { margin: 0; padding: 0; width: 100%; min-height: 100%; }
      body { overflow-x: hidden; }
    </style>
  </head>
  <body class="novamatch-standalone">
    {% include browser-upgrade.html %}
    {{ content }}
    {% include analytics.html %}
  </body>
</html>
